$margin-slug: margin !default;
$list: top bottom left right;


@each $author in $list{
   @for $i from 1 through 20{
      .#{$margin-slug}-#{$author}-#{$i * 5}{
        #{$margin-slug}-#{$author}: $i * 5px;
      }
   }
   @for $i from 1 through 20{
      .#{$margin-slug}-#{$author}-#{$i * 5}i{
        #{$margin-slug}-#{$author}: $i * 5px !important;
      }
   }
}

@mixin gradient($from, $to) {
  /* fallback/image non-cover color */
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

